# Folders
data/

# File extensions
.DS_Store
*.so
*.log
*.pyc

# virtualenv
.venv

# Byte-compiled / optimized / DLL files
.vscode/
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints


# Pytest
.pytest_cache/
